$marker-bg: rgb(70, 138, 74);
$marker-hover-bg: rgba(255, 102, 0, 0.85);

$green100: #81c784;
$green: #43a047;

$pink0: #684f58;
$pink100: #f06292;
$pink: #ec407a;

$red100: #ef5350;
$red: #d50000;

$blue100: #90caf9;
$blue: #1e88e5;

$full-model-black: rgba(22, 22, 22, 0.52);

